[*.cs]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers=never:silent

# CA1034: Nested types should not be visible
dotnet_diagnostic.ca1034.severity=silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.ca1303.severity=none

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.ca1710.severity=silent

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.ca1308.severity=silent

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.ca2000.severity=silent

# CA2227: Collection properties should be read only
dotnet_diagnostic.ca2227.severity=silent

# CA1724: Type names should not match namespaces
dotnet_diagnostic.ca1724.severity=silent

# ReSharper properties
resharper_blank_lines_between_using_groups=1
