version: 1.0.{build}-alpha

image: Visual Studio 2019

configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

build:
  project: .\lib\Gotenberg.Sharp.Api.Client.csproj
  verbosity: minimal  

before_build:
  - dotnet restore .\lib\Gotenberg.Sharp.Api.Client.csproj

after_build:
  - dotnet pack .\lib\Gotenberg.Sharp.Api.Client.csproj --no-restore --configuration %CONFIGURATION%
  - appveyor PushArtifact .\lib\bin\%CONFIGURATION%\Gotenberg.Sharp.Api.Client.%APPVEYOR_BUILD_VERSION%.nupkg
